.slider-book
  width: 100%
  height: 548px
  background: #183B56;
  &__title
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  &__image
    width: 204px
    height: 298px