@import "blocks/header/_m-header"
@import "blocks/reference/_m-reference"
@import "blocks/partners/_m-partners"
@import "blocks/slider-book/_m-sliderBook"
@import "blocks/blog/_m-blog"
@import "blocks/history/_m-history"
@import "blocks/subscribe/_m-subscribe"
@import "blocks/footer/_m-footer"
// общие

@media (max-width: 1300px)
  .container
    max-width: 800px
@media (max-width: 900px )
  .container
    max-width: 88%
@media (max-width: 767px )

  .container
    max-width: 88%

@media (min-width: 992px)
  .up
    display: flex
