@import "blocks/header/_m-header"
@import "blocks/reference/_m-reference"


// общие

@media (max-width: 1300px)
  .container
    max-width: 800px
@media (max-width: 900px )
  .container
    max-width: 88%
@media (max-width: 767px )

  .container
    max-width: 88%
