@media (min-width: 992px)
  .footer
    &__link
      &:hover
        color: blue
        text-decoration: underline
        font-weight: 600
      &--c
        &:hover
          background-color: blue
          opacity: .3
  .copyright
    &__text
      &:hover
        color: red
        text-decoration: underline
