@media (min-width: 992px)
  .subscribe
    &__button
      &:hover
        background-color: red


@media (max-width: 1387px)
 
@media (max-width: 1300px)
  .subscribe
    height: 300px
    flex-direction: column
    align-items: center


