@media (min-width: 992px)
  .card
    &__button
      &:hover
        background: white
        color: #183B56
        border: 1px solid #183B56
  .top
    &-link
      &:hover
        text-decoration: underline
        color: red
  .reference
    &__button
      &:hover
        background: #183B56
        color: #e5f8dd

  .slider
    &__card
      &:hover
        background-color: rgba(0, 0, 0, .4)

@media (max-width: 1300px)
  .reference
    &__title
      margin-top: 30px
    &__wrapper
      padding-bottom: 60px
      flex-direction: column
  .top
    &-line
      width: 100%
    &-link
      width: 100%
      justify-self: center
    &-wrapper
      height: 526px
      width: 100%
      display: flex
      flex-direction: row
      justify-content: space-between
      flex-wrap: wrap
      align-content: flex-start
  .card
    display: flex
    &--min
      width: 42%
  .slider
    &__title
      font-size: 18px
    &__description
      font-size: 14px
